.lists{
    width:30PX;
    font-size:20PX;
    display: inline-block;
}
.kuang{
    width:30PX;
    font-size:20PX;
    color:#fff;
    display: inline-block;
    border:1PX solid #F0F0F0;
}
.video_info{
    width:100%;
}
.select{
    color:red
}
.home-gy{
    padding:30px 32px;
    .title{
        font-size:34px;
    }
    .img_top{
        height:1269px;
        image{width:100%; height:1269px;}
    }
    .des{
        font-size:24px;
        line-height: 48px;
    }
}