
.share-list-container {
  width:688px;
  height:135px;
  padding: 0 31px;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  .left{
    width:500px;
    float:left;

    .title{
      text-align: left;
      display: block;
      color:#3a3a3a;
      font-size:36px;
      line-height:65px;
    }
    .text{
      font-size:22px;
      color:#7e7e7e
    }
  }
  .right{
    width:150px;
    position: absolute;
    right:24px;
    height:30px;
    top:40px;

    .right_l{
      width:70px;
      height:30px;
      background: url(https://wx.minsusuan.com/leyu/zan_1.png) 0 0 no-repeat;
      background-size:32px 30px;
      text-align:left;
      padding-left:39px;
      line-height:30px;
      font-size:22px;
      float:right;
      color:rgba(0,0,0,0.5);
    }
    .nav{background-image: url(https://wx.minsusuan.com/leyu/zan.png);}
    .right_r{
      width:30px;
      height:30px;
      float:right;
      background: url(https://wx.minsusuan.com/leyu/share.png) 0 0 no-repeat;
      background-size:30px 30px;
      font-size:20px;
      color:rgba(0,0,0,0.5);
    }
    .share{ 
        border-radius: 0px; 
        border:0px;  
        outline: none;  
        background-color: #fff; 
        height:100px; 
        line-height:50px; 
        font-size:24px; 
      }  
      button::after {
            border: none;
    }   
    
  }
}