
.share-list-container {
  width:688px;
  height:110px;
  padding: 0 31px;
  margin-bottom:0px;
  background-color: #fff;
  position: relative;
 // border-bottom: 1px solid #f0f0f0;
  .left_l{
    width:500px;
    float:left;
    .title{
      text-align: left;
      display: block;
      color:#3a3a3a;
      font-size:36px;
      line-height:50px;
    }
    .text_l{
      padding-top:12px;
      font-size:22px;
      line-height:28px;
      color:#7e7e7e
    }
  }
}