

.right{
  width:136px;
  position: absolute;
  right:24px;
  height:30px;
  bottom:60px;
  display: flex;
  justify-content: space-between;
  .right_l{
    width:32px;
    height:30px;
    background: url(https://wx.minsusuan.com/leyu/zan_1.png) 0 0 no-repeat;
    background-size:32px 30px;
    text-align:left;
    line-height:30px;
    font-size:22px;
    color:rgba(0,0,0,0.5);
  }
  .num { line-height:30px; font-size:22px; color:rgba(0,0,0,0.5);}
  .nav{background-image: url(https://wx.minsusuan.com/leyu/zan.png);}
  .right_r{
    width:30px;
    height:30px;
    background: url(https://wx.minsusuan.com/leyu/share.png) 0 0 no-repeat;
    background-size:30px 30px;
    font-size:20px;
    color:rgba(0,0,0,0.5);
  }
}  
      