@mixin backgroundimg($width,$height,$url,$left,$top,$positionl:0,$positionr:0){
    width:$width;
    height:$height;
    left:$left;
    top:$top;
    background-image:$url;
    background-position:$positionl $positionr; 
    background-size:100%;
    background-repeat:no-repeat;
}
@mixin background($width,$height,$url,$right,$bottom){
    width:$width;
    height:$height;
    right:$right;
    bottom:$bottom;
    background-image:$url;
    background-position:center center; 
    background-size:$width $height;
    background-repeat:no-repeat;
}
.home-page{height:100%}
.complete{
    width:100%;
    height:100%;
    background-color:#f7f7f7;
    text-align:center;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    .complete_tit{
           width:100%;
           height:132px;
           padding-top:54px;
           padding-bottom:28px;
           line-height:50px;
           font-size: 36px;
           color: #4A4A4A;
    }     
    .complete_img{

             @include background(418px,418px,url(https://wx.minsusuan.com/images/icon_b2.png),0,0);
             position: relative;
             margin:0 auto;
             .ioncimg{
                width:248px;
                height:58px;
                overflow:hidden;
                position: absolute; 
             }
            .ionc1{ @include backgroundimg(248px,58px,url(https://wx.minsusuan.com/images/pk_f0.png),84px,270px,0,-1232px); }
        
    }
    .complete_text{
        width:418px;
        height:60px;
        padding-top:20px;
        font-size: 72px;
        line-height:80px;
        margin:0 auto;
        text-align:center;
        color: #FDBB4B;
        .span{ 
            width:100%;
            height:40px;
            display:block;
            font-size: 26px;
            line-height:40px;
            color: #CCCCCC;
        }
   }
   .complete_time{
          padding-top:20px;
          height: 60px;
          background-image:url(https://wx.minsusuan.com/images/time.png);
          background-position: 0px 25px; 
          background-size:38px 42px;
          background-repeat:no-repeat;
          padding-left:50px;
          font-size: 30px;
          text-align:left;
          color: #999999;
          margin:10px auto;

   }
 
   .complete_btn{
    width:80%;
    height: 90px;
    line-height:90px;
    background-color:#2BC2F4;
    font-size: 30px;
    border-radius:6px;
    color:#fff;
    margin:0 auto 30px auto;
    
   } 

}
