@import '../../styles/mixin';

.home-page {
    @include wh(100%, 100%);
    .nav-list {
      @include fj(center);
      flex-wrap: wrap;
      margin-top: 20px;
      .nav-item {
        width: 100%;
        margin: 0 5px;
        font-size:16px;
      }
    }
    .recommend {
      display: block;
      width: 100%;
      text-align: center;
      margin: 30px 0;
      font-size: 36px;
    }
    .taro-img__mode-scaletofill{height:auto}
    .to_end{width:100%; font-size:24px; line-height:24px; text-align: center; color:#aaa;padding-bottom:20px; 
    
    }
    
  }
  
  .poster{position: fixed; left:1000px;}