@import "../../styles/mixin";

.home-page {
    @include wh(100%, 100%);
    .nav-list {
      @include fj(center);
      flex-wrap: wrap;
      margin-top: 20px;
      .nav-item {
        width: 100%;
        margin: 0 5px;
        font-size:16px;
      }
    }
    .recommend {
      display: block;
      width: 100%;
      text-align: center;
      margin: 30px 0;
      font-size: 36px;
    }
    .taro-img__mode-scaletofill{height:auto}
    .index_text{
      font-size:30px; 
      color:#666;
      height:50px; 
      display: block;
      padding:20px;  
      width:160px;}
  }