@import '../../styles/mixin';
.swiper_con{
  padding-left:31px;
}
.swiper-container {
  width: 100%;
  padding-left:16px;
  min-height: 500px;
  height: 100%;
}

.swiper {
  width: 718px;
  height: 450px;
  padding: 0 16px;
  .swiper-pagination{
    bottom:20px;
    color:#e9e9e9;
    border-radius: 15px;
  }
  image,img {
    border-radius: 15px;
    height: 386px!important;
  }
  
}

.test{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}


.swiper_div{
  margin:0 16px;
}
