
@import "../../../styles/mixin";

.con_img{
    width:70px;
    height:70px;
    background-image: url(https://wx.minsusuan.com/img/vido.gif);
    background-repeat: no-repeat;
    background-position: right 0; 
    background-size:70px 70px;   
} 