.face{
    padding:40px;
    width:100%;
    
    .btn{width:100px; 
        height:60px;
        margin:20px 0;
        line-height: 60px; 
        text-align: center; 
        background-color: #009966;
        color:#fff;
        border-radius: 20px;
    
    }
}
.user_top{
    width:100%;
    height:342px;
    background-color: #e7e7e7;
    position: relative;
    font-size:34px;
    .user_div{
        width:716px;
        height:242px;
        position: absolute;
        bottom:-38px;
        left:50%;
        margin-left:-358px;
        background: url(https://wx.minsusuan.com/leyu/bj.png) 0 0 no-repeat;
        background-size:716px 242px;
        .user_text{
              margin-top:130px;
              width:100%;
              text-align:center;
              .share{ 
                border-radius: 0px; 
                border:0px;  
                outline: none;  
                background-color: #fff; 
                height:100px; 
                line-height:50px; 
                font-size:24px; 
              }  
              button{
                background-color: #fff; 
                font-size:32px;
                width:620px;
              }
              button::after {
                    border: none;
                    color:#000;
            } 
        }
    }
    .user_face{
        width:170px;
        height:170px;
        border-radius: 85px;
        position: absolute;
        z-index:20;
        top:-85px;
        left:50%;
        margin-left:-85px;
        background-color: #ebebeb;
        image{height:170px; border-radius: 85px;}
    }



}
.content{
    width:100%;
    padding-top:50px;
    line-height:120px;
    text-align:center;
    
}
.nick_name{
    margin-left:40px;
    display:block;
}
 