.face{
    padding:40px;
    width:100%;
    
    .btn{width:100px; 
        height:60px;
        margin:20px 0;
        line-height: 60px; 
        text-align: center; 
        background-color: #009966;
        color:#fff;
        border-radius: 20px;
    
    }
}