
@import "../../styles/mixin";

.top{
  display:flex;
  padding:20px 0 0 0;
  height:160px;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  .ionc1{
      width:90px;
      height:140px;
      .ionc_img{
        width:56px;
        height:56px; 
        display: block;
        overflow: hidden;
        background-color:#5dcaa3;
        padding:25px;
        border-radius: 20px;
        image{width:100%; height:56px;}
      }
      .ionc_img1{
        width:88px;
        height:88px; 
        display: block;
        overflow: hidden;
        image{width:100%; height:80px;}
      }    
      .col1{background-color:#faedfe}
      .col2{background-color:#ffc272}
      .col3{background-color:#a4dcff}
      .col4{background-color:#ffcead}
      .col5{background-color:#fcb097}
      .col6{background-color:#97cefc}
      .col1{background-color:#3284F4}
      .col2{background-color:#52BF84}
      .col3{background-color:#ED9535}
      .col4{background-color:#DA3FF4}
      .fonts{text-align:center; font-size:22px; line-height:40px;color:#666}
  }
  
}