.lists{
    width:30PX;
    font-size:20PX;
    display: inline-block;
}
.kuang{
    width:30PX;
    font-size:20PX;
    color:#fff;
    display: inline-block;
    border:1PX solid #F0F0F0;
}
.video_info{
    width:100%;
}
.select{
    color:red
}
.box_img{
     padding:20px 31px;
    .detail_img{
        margin-bottom:20px;
        image{width:100%; display:block}
    }
}

.poster{position: fixed; left:4000px;}