.lists{
    width:30PX;
    font-size:20PX;
    display: inline-block;
}
.kuang{
    width:30PX;
    font-size:20PX;
    color:#fff;
    display: inline-block;
    border:1PX solid #F0F0F0;
}
.select{
    color:red
}