
.card-page{
    width:100%;
    height:100%;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items:flex-end;
    align-content:flex-end;

        .card-li{
            width:160px;
            height:160px;
            border:2px solid #33ccff;
            margin:15px 10px;
            font-size:20px;
            text-align:center;
            position: relative;
            display: flex;
            flex-flow: row wrap;
            background-color: #fff;
            text-align: center;
            image{margin:0 auto; height:120px;}
            border-radius: 10px;
            transform:rotate(90deg);
        }
        .nav{border:4px solid #ff3333;}

    .card-right{
        width:440px;
        height:440px;
        padding-right:20px;
        border:4px solid #33ccff;
        text-align:center;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 10px;
        align-content:flex-start;

        .card-right-img{width:400px;margin-left:50px; height:340px;}
        .card-right-text{
            display: flex;
            flex-flow: row nowrap;
            justify-content:center;
            align-items:center;
            padding:10px 30px;
            .btn-2{flex-shrink:0}
            .con_img{
                width:70px;
                height:70px;
                background-image: url(https://wx.minsusuan.com/img/vido.png);
                background-repeat: no-repeat;
                background-position: right 0; 
                background-size:70px 70px; 
                margin-right:20px;
            }
            .play{background-image: url(https://wx.minsusuan.com/img/vido.gif);}
            .con_play{
                width:70px;
                height:70px;
                background-image: url(https://wx.minsusuan.com/img/bofang.png);
                background-repeat: no-repeat;
                background-position: right 0; 
                background-size:70px 70px; 
            } 
            .con_lu{
                width:70px;
                height:70px;
                background-image: url(https://wx.minsusuan.com/img/luyin.png);
                background-repeat: no-repeat;
                background-position: right 0; 
                background-size:70px 70px;  
            }
            .navs{ background-image: url(https://wx.minsusuan.com/img/ziyuan.png); }
        }

       
    }
}
